.page {
  --border-color: hsl(0, 0%, 75%);

  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'image'
    'content'
    'aside';

  & > main {
    display: contents;
  }

  & img {
    background-color: hsl(0, 0%, 60%);
  }
}

.content {
  grid-area: content;
}

.title {
  font-size: 2rem;
  line-height: 4rem;
  margin: 1rem 0;
}

.lead {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);
  margin: 0;
}

.gallery {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 0.5rem;
  width: 100%;
  padding: 2rem 0;

  & > img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}

.description {
  margin: 0;
}

.mainImage {
  grid-area: image;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto;
  grid-gap: 1rem;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 1rem;
  margin-top: 2rem;
}

.asideImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.asideText {
  margin: 0;
}

.asideTitle {
  composes: asideText;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 500px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .aside {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
}

@media (min-width: 600px) {
  .description {
    columns: 2;
    gap: 1rem;
  }
}

@media (min-width: 700px) {
  .description {
    columns: 3;
  }
}

@media (min-width: 920px) {
  .page {
    grid-column-gap: 1rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      'image   aside'
      'content content';
  }

  .aside {
    align-items: initial;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin-top: 0;
  }
}
