.wrapper {
  min-height: calc(100vh - 101px);
  display: grid;
  place-content: center;
  grid-template-columns: minmax(auto, 400px);
  grid-template-rows:
    [first-start]
    150px
    [second-start]
    30px
    [first-end]
    150px
    [third-start]
    30px
    [second-end]
    300px
    [third-end];
}

.title {
  grid-column: 1;
  align-self: end;
  justify-self: end;
  color: white;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 1rem 0 0;
  z-index: 1;

  &:nth-of-type(1) {
    grid-row: 1;
  }

  &:nth-of-type(2) {
    grid-row: 4;
    align-self: start;
    z-index: 2;
  }

  &:nth-of-type(3) {
    grid-row: 5;
  }
}

.largeTitle {
  composes: title;

  & > span {
    font-size: 3rem;
    line-height: 1em;
  }
}

.image {
  grid-column: 1;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:nth-of-type(1) {
    grid-row: first;
    clip-path: polygon(0 0, 100% 0, 100% 150px, 0 170px);
  }

  &:nth-of-type(2) {
    grid-row: second;
    clip-path: polygon(0 30px, 100% 10px, 100% 100%, 0 190px);
    z-index: 1;
  }

  &:nth-of-type(3) {
    grid-row: third;
    clip-path: polygon(0 20px, 100% 40px, 100% 100%, 0 100%);
  }

  & > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: hsl(0, 0%, 75%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      -10deg,
      hsl(0, 0%, 25%, 0.75),
      hsl(0, 0%, 25%, 0.25) 11%,
      transparent 30%,
      transparent
    );
  }
}

@media (min-width: 400px) {
  .largeTitle {
    & > span {
      font-size: 4rem;
      line-height: 1em;
    }
  }
}
